<?xml version='1.0' encoding='utf-8'?>
<widget id="com.webzin.paypal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ngpay</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="sameer@webzin.in" href="https://www.webzin.in">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
